################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/卒業制作/FileContentIndex/6a53ab76-1823-46c9-84a7-004d2cb5d9b2.vsidx
/.vs/卒業制作/v17/DocumentLayout.json
/.vs/卒業制作/v17/.suo
/.vs/卒業制作/v17/DocumentLayout.backup.json
/.vs/卒業制作/FileContentIndex
*.json
*.exe
*.suo
*.pdb


